@model List<HomeWork1.Data.Resume>
@foreach (var resume in Model)
{
    <div class="resume-wrap ftco-animate">
        <span class="date">@resume.WorkStart.ToString("yyyy")-@resume.WorkEnd.ToString("yyyy")</span>
        <h2>@resume.WorkName</h2>
        <span class="position">@resume.WorkPlace</span>
        <p class="mt-4">@resume.About</p>
    </div>
}

